.Card {
  position: relative;
  overflow: visible;
  height: 25rem;
  padding: 2rem;
  z-index: 0;
}

.CardBody {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.Card::before {
  content: "";
  position: absolute;
  top: 10%;
  right: 2.5rem;
  height: 80%;
  width: 30%;
  background-image: url('../../../../../public/home/clases.jpg');
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: inherit
}