.container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 1rem;
  justify-items: center;
  width: 100%;
  margin: 0 auto;
  width: fit-content;
}

.day {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  justify-content: space-between;
  width: 15rem;
}

.classContainer {
  display: flex;
  flex-direction: column;
  gap: 1.5rem
}



.class {
  padding: 1rem;
  height: 20rem;
  position: relative;
}

.avatar {
  position: absolute;
  right: 1rem;
  bottom: 6rem;
  transform: translateY(50%);
}

.cover {
  width: 100%;
  position: absolute;
  z-index: 0;
  width: 100%;
  right: 0;
  bottom: 6rem;
  border-radius: 0 !important;
  overflow: hidden;
}

.img {
  transform: translateY(3rem);
}

.info {
  position: absolute;
  color: var(--blue1);
  font-weight: bold;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 0.9rem;
  text-transform: capitalize
}

.teacherInfo {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  justify-content: center;
  align-content: center;
  align-items: flex-end;
  right: 1rem;
  bottom: 1.4rem;
  font-size: 0.8rem;
  color: var(--blue2);
  font-weight: bold;
}

.hour {
  color: var(--blue2);
  font-weight: normal;
}